<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @target.address %>
</p>
<p>
  <b>Scan results:</b>
</p>
<pre><%= @target.report %></pre>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
